/*  Mon style */

/* Style du calendrier */
.calendar {
    position: relative;
}

.calendar__table {
    width: 100%;
    /* 100vh vaut la hauteur total de l'écran du navigateur (tous navigateur), auquel on donne une marge de 300px*/
    height: calc(100vh - 300px);
}

.calendar__table td {
    padding: 10px;
    border: 1px solid #ccc;
    vertical-align: top;
    width: 14.29%;
    /* 100 / 7 = 14.29  On divise par 7 (nb de jours de la semaine de notre calendrier) pour que chaque case soit de la même largeur */
}

.calendar__weekday {
    padding-bottom: 0.5em;
    font-weight: bold;
    color: rgb(182, 182, 182);
    font-size: 1.3em;
}

.calendar__day {
    font-size: 1.1em;
}

/* On cible uniquement les jours qui ne font pas parti du mois en cours (class calendar__othermonth dynamique) */
.calendar__othermonth .calendar__day {
    opacity: 0.2;
}

.calendar__event {
    font-size: 0.7em;
}

.calendar__event a {
    color: rgb(190, 190, 190);
}

.calendar__button {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;

    /*position: absolute;*/
    bottom: 30px;
    right: 50%;

    transition: transform 0.3s;
}

.calendar__button:hover {
    text-decoration: none;
    color: rgb(88, 23, 74);
    transform: scale(1.2);
}

.calendar_title {
    text-align: center;
    color: #cccccc;
}

.calendar__success {
    text-align: center;
    /*padding: 0 10% 0 10%;*/
}

.info__date {
    margin-left: 20px;
}

.calendar__today {
    font-size: 1.7em;
    background-color: #330c29;
}

.calendar__today a {
    color: rgb(221, 221, 221);
}

.btn__right {
    float: right;
}